@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple demo app for my Fandom interview. To access the different campaigns, characters, and players please use the menu above.</p>
</div>
