@page
@model DnDCampaignTeams.Pages.Campaign.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Campaign</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Campaign.Name" class="control-label"></label>
                <input asp-for="Campaign.Name" class="form-control" />
                <span asp-validation-for="Campaign.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Campaign.Description" class="control-label"></label>
                <input asp-for="Campaign.Description" class="form-control" />
                <span asp-validation-for="Campaign.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Campaign.LogoLocation" class="control-label"></label>
                <input type="file" asp-for="Image" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
